* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.2;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #232429;
}

.showcase {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 40px 0px 40px 0px;
}

.container {
    position: relative;
    padding: 35px 35px 35px 35px;
    border-radius: 3px;
    background-color: #232429;
    box-shadow: 0px 0px 5px  black;
}

.container::before{
    content: "";
    position: absolute;
    top: -3.5px;
    bottom: -3.5px;
    left: -3.5px;
    right: -3.5px;
    z-index: -1;
    border-radius: 3px;
}

.container::after{
    content: "";
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    z-index: -2;
    filter: blur(50px);
    border-radius: 3px;
}

.container::after,
.container::before{
    background: linear-gradient(235deg, #4dc7d2,#232429,#232429,#4dc7d2);
}

.head {
    text-align: center;
    margin: 0px 0px 50px 0px;
    font-size: 25px;
    color: #4dc7d2;
    letter-spacing: 2px;
    text-shadow: 0px 0px 5px #4dc7d2, 0px 0px 0px #4dc7d2, 0px 0px 2px #4dc7d2;
}



label {
    color: grey;
    font-weight: bold;
    font-size: 15px;
}


input {
    border: none;
    border-bottom: 1px solid #4dc7d2;
    width: 280px;
    font-size: 16px;
    background-color: #232429;
    color: grey;
    -webkit-box-shadow: 0px 5px 6px -6px #4dc7d2;
    -moz-box-shadow: 0px 5px 6px -6px #4dc7d2;
    box-shadow: 0px 5px 6px -6px #4dc7d2;
}


input:focus {
    outline: none;
}

#user-gender{
  color: grey;
  border-bottom: 1px solid #4dc7d2;
  background-color: #232429;
} 

#user-gender:focus {
    outline: none;
}

.account-sugestion {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    color: grey;
    margin: -8px 0px 0px 0px;
}

.signup-link {
    float: right;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    margin: -18px 0px 0px 0px;
    color: #4dc7d2;
    letter-spacing: 1px;
    text-shadow: 0px 0px 3px #4dc7d2, 0px 0px 0px #4dc7d2, 0px 0px 1px #4dc7d2;
}

.submit-button {
    padding: 10px 25px 10px 25px;
    border-radius: 3px;
    border: none;
    background-color: #4dc7d2;
    box-shadow: 0px 0px 20px #60d1db, 0px 0px 60px #60d1db, 0px 0px 20px #60d1db;
}

.submit-link {
    text-decoration: none;
    color: #232429;
    font-weight: bold;
    font-size: 15px;
}

@media(max-width: 500px){
    .body{
       overflow-y: hidden;
       overflow-x: hidden;
    }
  }